In [1]:
#IMPRTING PANDAS AS pd AND NUMPY AS np
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
#Food Delivery Time Predictor

In [3]:
# 1. Create Raw Data
delivery_data = {
    'Order_ID': [101, 102, 103, 104, 105],
    'Timestamp': ['2026-02-14 18:30', '2026-02-15 11:15', '2026-02-16 19:45', '2026-02-14 13:00', '2026-02-17 08:20'],
    'Distance_KM': [2.5, 5.0, 1.2, 8.5, 3.1],
    'Cuisine': ['Pizza', 'Sushi', 'Burger', 'Pizza', 'Coffee']
}
delivery = pd.DataFrame(delivery_data)

In [4]:
delivery

   Order_ID         Timestamp  Distance_KM Cuisine
0       101  2026-02-14 18:30          2.5   Pizza
1       102  2026-02-15 11:15          5.0   Sushi
2       103  2026-02-16 19:45          1.2  Burger
3       104  2026-02-14 13:00          8.5   Pizza
4       105  2026-02-17 08:20          3.1  Coffee

In [5]:
# 2. Feature Engineering
delivery['Timestamp'] = pd.to_datetime(delivery['Timestamp'])

In [6]:
delivery

   Order_ID           Timestamp  Distance_KM Cuisine
0       101 2026-02-14 18:30:00          2.5   Pizza
1       102 2026-02-15 11:15:00          5.0   Sushi
2       103 2026-02-16 19:45:00          1.2  Burger
3       104 2026-02-14 13:00:00          8.5   Pizza
4       105 2026-02-17 08:20:00          3.1  Coffee

In [7]:
delivery['Timestamp']

0   2026-02-14 18:30:00
1   2026-02-15 11:15:00
2   2026-02-16 19:45:00
3   2026-02-14 13:00:00
4   2026-02-17 08:20:00
Name: Timestamp, dtype: datetime64[ns]

In [8]:
# Extracting Day Type
delivery['Is_Weekend'] = np.where(delivery['Timestamp'].dt.dayofweek >= 5, 1, 0)

In [9]:
delivery['Is_Weekend']

0    1
1    1
2    0
3    1
4    0
Name: Is_Weekend, dtype: int64

In [10]:
# Rush Hour Module (Dinner rush 6pm - 9pm)
delivery['Hour'] = delivery['Timestamp'].dt.hour
delivery['Is_Rush_Hour'] = np.where((delivery['Hour'] >= 18) & (delivery['Hour'] <= 21), 1, 0)

In [11]:
delivery['Is_Rush_Hour']

0    1
1    0
2    1
3    0
4    0
Name: Is_Rush_Hour, dtype: int64

In [12]:
# Speed Category (Simple binning)
delivery['Distance_Category'] = pd.cut(delivery['Distance_KM'], bins=[0, 3, 7, 20], labels=['Short', 'Medium', 'Long'])

In [14]:
delivery['Distance_Category']

0     Short
1    Medium
2     Short
3      Long
4    Medium
Name: Distance_Category, dtype: category
Categories (3, object): ['Short' < 'Medium' < 'Long']