In [1]:
#IMPRTING PANDAS AS pd AND NUMPY AS np
import pandas as pd
import numpy as np

In [2]:
#Employee Experience Tracker

In [3]:
# 1. Create Raw Data
hr_data = {
    'Emp_Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Dept': ['Sales', 'IT', 'Sales', 'IT', 'HR'],
    'Salary': [70000, 95000, 65000, 110000, 60000],
    'Joined_Year': [2020, 2023, 2019, 2021, 2024]
}
hr = pd.DataFrame(hr_data)

In [4]:
hr

  Emp_Name   Dept  Salary  Joined_Year
0    Alice  Sales   70000         2020
1      Bob     IT   95000         2023
2  Charlie  Sales   65000         2019
3    David     IT  110000         2021
4      Eve     HR   60000         2024

In [5]:
# 2. Feature Engineering
# Tenure in years
hr['Tenure_Years'] = 2026 - hr['Joined_Year']

In [6]:
hr['Tenure_Years']

0    6
1    3
2    7
3    5
4    2
Name: Tenure_Years, dtype: int64

In [8]:
# 3.Peer Comparison

In [9]:
hr['Dept_Avg_Salary'] = hr.groupby('Dept')['Salary'].transform('mean')
hr['Salary_Ratio_to_Dept'] = hr['Salary'] / hr['Dept_Avg_Salary']

In [10]:
hr['Salary_Ratio_to_Dept']

0    1.037037
1    0.926829
2    0.962963
3    1.073171
4    1.000000
Name: Salary_Ratio_to_Dept, dtype: float64

In [11]:
#4. Seniority Flag based on tenure
hr['Senior_Level'] = np.where(hr['Tenure_Years'] > 4, 1, 0)

In [12]:
hr['Senior_Level']

0    1
1    0
2    1
3    1
4    0
Name: Senior_Level, dtype: int64

In [13]:
hr

,Emp_Name,Dept,Salary,Joined_Year,Tenure_Years,Dept_Avg_Salary,Salary_Ratio_to_Dept,Senior_Level
0,Alice,Sales,70000,2020,6,67500.0,1.037037,1
1,Bob,IT,95000,2023,3,102500.0,0.926829,0
2,Charlie,Sales,65000,2019,7,67500.0,0.962963,1
3,David,IT,110000,2021,5,102500.0,1.073171,1
4,Eve,HR,60000,2024,2,60000.0,1.000000,0